{% extends "base_board.html" %}

{% block title %} <h2> 글 목록 (전체글 : {{count}}) </h2> {% endblock %}

{% block contents %}
<!-- 글이 있나 없나 검사 해애함 -->
<table>
	<tr>
		<td style="text-align:right" colspan="6">
		<!-- app_name을 쓴경우 urls의 name의 이름을 써주어야함 -->
		<a href="{% url 'board:write' %}">글쓰기&nbsp;&nbsp;&nbsp;</a>
	</tr>
	<tr>
		<th style="width:8%"> 글번호 </th>
		<th style="width:40%"> 제목 </th>
		<th style="width:15%"> 작성자 </th>
		<th style="width:8%"> 조회수 </th>
		<th style="width:15%"> 작성일 </th>
		<th style="width:20%"> 아이피 </th>
	</tr>
		{% if count == 0 %}
		
		
		{% else %}
		
		
		{% endif %}
</table>
{% endblock %}