{% extends "base.html" %}
<!-- 제이쿼리 이용해서 유효성 검사 할것 -->
{% block title %} <h2> 메인페이지 </h2> {% endblock %}

{% block contents %}
<!-- 함수로 만들지 클래스뷰로 만들지 정해야함 -->
<!-- 클래스뷰로 갈것이면 login으로 넘길것 -->
<!-- 아이디 비밀번호도 안넘어가게 막아야함 -->
<!-- 아예 전체를 다 jquery로 만들예정 -->

{% csrf_token %}
<form name="mainform" method="post" action="login" onsubmit="return maincheck()">
	<table>
		<tr>
			<th colspan="2"> 비회원 이시면 회원가입을 해주세요 </th>
		</tr>
		<tr>
			<th> 아이디 </th>
			<td><input class="input" type="text" name="id" autofocus></td>
		</tr>
		<tr>
			<th> 비밀번호 </th>
			<td><input class="input" type="password" name="passwd"></td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="로그인">
				<input class="inputbutton" type="reset" value="취소">
				<input class="inputbutton" type="button" value="회원가입"
					onclick="location='write'">
			</th>
	</table>
</form>
{% endblock %}
